<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cart</title>
  </head>
  <body>
    <h2>Carrito de Compras</h2>
    <div>
      <ul>
        {{#each productsDetails}}
          <li>
            <div>
              <h3>{{this.title}}</h3>
              <p>{{this.description}}</p>
              <h6>{{this.price}}</h6>
              <p>{{quantity}}</p>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>