<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Inicia Sesión</h1>

    <form action="/api/sessions/login" method="post">
      <div>
        <label for="email" id="email">Email</label>
        <input type="email" name="email" id="email" required />
      </div>
      <div>
        <label for="password" id="password">Password</label>
        <input type="password" name="password" id="password" required />
      </div>
      <div>
        <button type="submit">Iniciar Sesión</button>
        <p>Aún no tienes una cuenta? <a href="/register">Registrate</a></p>
      </div>
    </form>
  </body>
</html>