<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
  </head>
  <body>
    <button>
      <a href="/products">Volver a productos</a>
    </button>
    <h1>Mi perfil</h1>
    <div>
      <p>Nombre: {{user.first_name}}</p>
      <p>Apellido: {{user.last_name}}</p>
      <p>Email: {{user.email}}</p>
      <p>Edad: {{user.age}}</p>
    </div>
  </body>
</html>